<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{{data.title}}} </title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {{#if data.status }}
    <!-- Logout CSS -->
    <link rel="stylesheet" href="http://{{{data.host}}}:{{{data.port}}}/css/variable.css">
    <link rel="stylesheet" href="http://{{{data.host}}}:{{{data.port}}}/css/home.css">
    <link rel="stylesheet" href="http://{{{data.host}}}:{{{data.port}}}/css/login.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>


<body style="background-color: black; color: white;">


    <!-- IF User is Log out -->
    <header class="header">
        <!-- <div class="w3-container" style=" color:white; height: 40px; padding: 7px; background-image: linear-gradient(180deg, #0e0e0ea6, #909090d1); /* border-style: solid; border-color: #0000005e; border-width: 0px; border-bottom-width: 2px; */"> -->
        <div class="w3-container" style="background-color: #00000000;">

            <div class="w3-left" style="margin-left: 60px;">
                <i class="fa fa-envelope pro-light" aria-hidden="true" style="margin-right: 4px; "></i>
                <span style="font-size: 16px;"> E-Mail : admin@cyberyug.com </span>
                <i class="fa fa-map-marker pro-light" aria-hidden="true"
                    style=" margin-right: 4px; margin-left: 25px;"></i>
                <span style="font-size: 16px;"> Mahmudabad, Sitapur, utter pradesh </span>
            </div>
            <div class="w3-right" style="margin-right: 60px; margin-top: 3px;">
                <i class="fa fa-facebook-square pro-light" aria-hidden="true"></i>
                <i class="fa fa-instagram pro-light" aria-hidden="true"></i>
                <i class="fa fa-twitter-square pro-light" aria-hidden="true"></i>
                <i class="fa fa-linkedin-square pro-light" aria-hidden="true"></i>

            </div>
        </div>

        <!-- <div class="w3-display-container" style=" color:white; height: 60px; background-image: linear-gradient(180deg, #1c1b1b66, #a6a6a5fc)"> -->
        <div class="w3-display-container"
            style="height: 60px; background-color: #00000000;">
            <div class="w3-display-left" style="margin-left: 60px;">
                <img src=" " alt="Cyber Yug">
            </div>
            <div class="w3-display-middle">
                <ul class="ul">
                    <li class="li"> <a href="http://{{{data.host}}}:{{{data.port}}}/" style="font-size: 20px;"> Home
                        </a> </li>
                    <li class="li"> <a href="http://{{{data.host}}}:{{{data.port}}}/course" style="font-size: 20px;">
                            Course </a> </li>
                    {{!-- <li class="li"> <a href="http://{{{data.host}}}:{{{data.port}}}/franchise"
                            style="font-size: 20px;">
                            Franchise </a> </li> --}}
                    <li class="li"> <a href="http://{{{data.host}}}:{{{data.port}}}/certificate"
                            style="font-size: 20px;"> Certificate </a> </li>
                    <li class="li"> <a href="http://{{{data.host}}}:{{{data.port}}}/ctf" style="font-size: 20px;"> CTF
                        </a> </li>
                    <li class="li"> <a href="http://{{{data.host}}}:{{{data.port}}}/quiz" style="font-size: 20px;"> QUIZ
                        </a> </li>
                </ul>
            </div>

            <div class="w3-display-right" style="margin-right: 60px;">

                {{#if data.soDash }}

                    <a href="http://{{{data.host}}}:{{{data.port}}}/login" class="w3-button" style="font-size: 20px;">
                        Login
                    </a>
                    <a href="http://{{{data.host}}}:{{{data.port}}}/register" class="w3-button" style="font-size: 20px;">
                        Register 
                    </a>

                {{else}}

                    <a href="/dashboard" class="w3-button" style="font-size: 20px;">
                        Dashboard
                    </a>

                {{/if}}
            </div>
        </div>
    </header>

    {{!-- Login --}}

    {{else}}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />
    <link rel="stylesheet" href="/vendor/@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="/styles/tailwind.css" />
    <title> {{{data.title}}} </title>

    </head>

    <body class="text-blueGray-700 antialiased">
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="root">
            <nav
                class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6">
                <div
                    class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto">
                    <button
                        class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
                        type="button" onclick="toggleNavbar('example-collapse-sidebar')">
                        <i class="fas fa-bars"></i>
                    </button>
                    <a class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
                        href="/">
                        Cyber Yug
                    </a>
                    <ul class="md:hidden items-center flex flex-wrap list-none">
                        <li class="inline-block relative">
                            <a class="text-blueGray-500 block py-1 px-3" href="#pablo"
                                onclick="openDropdown(event,'notification-dropdown')"><i class="fas fa-bell"></i></a>
                            <div class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48"
                                id="notification-dropdown">
                                <a href="#pablo"
                                    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Action</a><a
                                    href="#pablo"
                                    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Another
                                    action</a><a href="#pablo"
                                    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Something
                                    else here</a>
                                <div class="h-0 my-2 border border-solid border-blueGray-100"></div>
                                <a href="/logout"
                                    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Logout</a>
                            </div>
                        </li>
                        <li class="inline-block relative">
                            <a class="text-blueGray-500 block" href="#pablo"
                                onclick="openDropdown(event,'user-responsive-dropdown')">
                                <div class="items-center flex">
                                    <span
                                        class="w-12 h-12 text-sm text-white bg-blueGray-200 inline-flex items-center justify-center rounded-full"><img
                                            alt="..." class="w-full rounded-full align-middle border-none shadow-lg"
                                            src="../../assets/img/team-1-800x800.jpg" /></span>
                                </div>
                            </a>
                            <div class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48"
                                id="user-responsive-dropdown">
                                <a href="#pablo"
                                    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Action</a><a
                                    href="#pablo"
                                    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Another
                                    action</a><a href="#pablo"
                                    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Something
                                    else here</a>
                                <div class="h-0 my-2 border border-solid border-blueGray-100"></div>
                                <a href="/logout"
                                    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                    <div class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded hidden"
                        id="example-collapse-sidebar">
                        <div class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200">
                            <div class="flex flex-wrap">
                                <div class="w-6/12">
                                    <a class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
                                        href="/">
                                        Cyber Yug
                                    </a>
                                </div>
                                <div class="w-6/12 flex justify-end">
                                    <button type="button"
                                        class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
                                        onclick="toggleNavbar('example-collapse-sidebar')">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <form class="mt-6 mb-4 md:hidden">
                            <div class="mb-3 pt-0">
                                <input type="text" placeholder="Search"
                                    class="px-3 py-2 h-12 border border-solid border-blueGray-500 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-base leading-snug shadow-none outline-none focus:outline-none w-full font-normal" />
                            </div>
                        </form>
                        <!-- Divider -->
                        <hr class="my-4 md:min-w-full" />
                        <!-- Heading -->
                        <h6
                            class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline">
                            You Have Been Login
                        </h6>
                        <!-- Navigation -->

                        <ul class="md:flex-col md:min-w-full flex flex-col list-none">
                            <li class="items-center">
                                <a href="/dashboard"
                                    class="text-xs uppercase py-3 font-bold block text-pink-500 hover:text-pink-600">
                                    <i class="fas fa-tv mr-2 text-sm opacity-75"></i>
                                    Dashboard
                                </a>
                            </li>

                            <li class="items-center">
                                <a href="/dashboard/course"
                                    class="text-xs uppercase py-3 font-bold block text-blueGray-700 hover:text-blueGray-500">
                                    <i class="fas fa-tools mr-2 text-sm text-blueGray-300"></i>
                                    Course
                                </a>
                            </li>

                            <li class="items-center">
                                <a href="/dashboard/category"
                                    class="text-xs uppercase py-3 font-bold block text-blueGray-700 hover:text-blueGray-500">
                                    <i class="fas fa-table mr-2 text-sm text-blueGray-300"></i>
                                    Category
                                </a>
                            </li>

                            <li class="items-center">
                                <a href="/dashboard/student"
                                    class="text-xs uppercase py-3 font-bold block text-blueGray-700 hover:text-blueGray-500">
                                    <i class="fas fa-map-marked mr-2 text-sm text-blueGray-300"></i>
                                    Student
                                </a>
                            </li>

                            <li class="items-center">
                                <a href="/dashboard/certificate"
                                    class="text-xs uppercase py-3 font-bold block text-blueGray-700 hover:text-blueGray-500">
                                    <i class="fas fa-map-marked mr-2 text-sm text-blueGray-300"></i>
                                    Certificate
                                </a>
                            </li>

                            <li class="items-center">
                                <a href="/dashboard/quiz"
                                    class="text-xs uppercase py-3 font-bold block text-blueGray-700 hover:text-blueGray-500">
                                    <i class="fas fa-map-marked mr-2 text-sm text-blueGray-300"></i>
                                    Quiz
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="relative md:ml-64 bg-blueGray-50">
                <nav
                    class="absolute top-0 left-0 w-full z-10 bg-transparent md:flex-row md:flex-nowrap md:justify-start flex items-center p-4">
                    <div
                        class="w-full mx-autp items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4">
                        <a class="text-white text-sm uppercase hidden lg:inline-block font-semibold"
                            href="/dashboard">Dashboard</a>
                        <form class="md:flex hidden flex-row flex-wrap items-center lg:ml-auto mr-3">
                            <div class="relative flex w-full flex-wrap items-stretch">
                                <span
                                    class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3"><i
                                        class="fas fa-search"></i></span>
                                <input type="text" placeholder="Search here..."
                                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm shadow outline-none focus:outline-none focus:ring w-full pl-10" />
                            </div>
                        </form>
                        <ul class="flex-col md:flex-row list-none items-center hidden md:flex">
                            <a class="text-blueGray-500 block" href="#pablo"
                                onclick="openDropdown(event,'user-dropdown')">
                                <div class="items-center flex">
                                    <span
                                        class="w-12 h-12 text-sm text-white bg-blueGray-200 inline-flex items-center justify-center rounded-full"><img
                                            alt="..." class="w-full rounded-full align-middle border-none shadow-lg"
                                            src="../../assets/img/team-1-800x800.jpg" /></span>
                                </div>
                            </a>
                            <div class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48"
                                id="user-dropdown">
                                <a href="#pablo"
                                    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Action</a><a
                                    href="#pablo"
                                    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Another
                                    action</a><a href="#pablo"
                                    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Something
                                    else here</a>
                                <div class="h-0 my-2 border border-solid border-blueGray-100"></div>
                                <a href="/logout"
                                    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Logout
                                </a>
                            </div>
                        </ul>
                    </div>
                </nav>


                {{/if}}